/* 共通設定 */
a {
    color: #000;
    text-decoration: none;

}

a:hover {
    color: #000;
    text-decoration: none;
}

/* 投稿一覧画面 */

.post-table-container .flash_message_area {
    height: 55px;
}

.post-table-container .card .card-header .user-info .user-image {
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.post-table-container .card .card-header .user-info .user-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 0.2px solid #aaa;
}

.post-table-container .card .card-header .user-info .user-detail span {
    font-weight: bold;
}

.post-table-container .card .card-header .user-info .user-detail a {
    color: #aaa;
}

.post-table-container .card .card-body .post-body {
    margin-bottom: 15px;
}

.post-table-container .card .card-body .post-body span {
    color: #a9a9a9;
}

.post-table-container .card .card-body .post-image {
    margin: auto;
}

.post-table-container .card .card-body .post-image img {
    width: 100%;
    border-radius: 15px;
    border: 1px solid #aaa;
}

/* 投稿画面（共通） */
.post-container .card .card-body .user-info .user-image {
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.post-container .card .card-body .user-info .user-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 0.2px solid #aaa;
}

.post-container .card .card-body .user-info .user-detail span {
    font-weight: bold;
}

.post-container .card .card-body .user-info .user-detail a {
    color: #aaa;
}

/* ユーザーの画面（共通） */
.user-profile .user-info .user-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.user-profile .user-info .user-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #aaa;
}

.user-profile .user-info .user-detail span {
    font-weight: bold;
}

.user-profile .user-info .user-detail a {
    font-weight: bold;
    color: #aaa;
}